@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500&display=swap');

*{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.card{
    width: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 55px auto;
}

.card_title1{
    font-size: 2rem;
}

.card_list{
    display: flex;
}

.card_container{
    border-radius: 10px;
    margin: 15px 10px;
    height: 220px;
    width: 300px;
}

.card_title_header{
    border-bottom: 2px solid #AFAFAF;
    height: 35px;
    padding: 15px 15px;
    background-color: #F0F0F0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card_title_header h3{
    margin: 0;
    font-weight: 400;
}

.card_box{
    padding: 0 15px;
}

.card_title_box{
    margin: 0;
    padding-top: 15px;
}

.mini_card1{
    border: 2px solid #3298DC;
}

.mini_card2{
    border: 2px solid #AAAAAA;
}

.mini_card3{
    border: 2px solid #F14768;
}

.card_text1 {
    margin: 0;
    padding: 10px 0;
    color: #3298DC;
    font-weight: 500;
}
.card_text2 {
    margin: 0;
    padding: 20px 0;
    color: #777777;
    font-weight: 500;
}
.card_text3 {
    margin: 0;
    padding: 20px 0;
    color: #F14768;
    font-weight: 500;
}


.card_box p:hover{
    font-weight: 500;
    padding-left: 10px;
    font-weight: 600;
    transform: scale(1.1);
}

@media screen and (max-width: 1000px){
    .card_list{
        display: flex;
        flex-direction: column;
    }
}